:where(.ag-button) {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    text-transform: inherit;
    text-indent: inherit;
    text-shadow: inherit;
    cursor: pointer;

    &:disabled {
        cursor: default;
    }

    &:focus-visible {
        outline: none;
        box-shadow: var(--ag-focus-shadow);
    }
}

.ag-standard-button {
    appearance: none;
    border-radius: var(--ag-button-border-radius);
    color: var(--ag-button-text-color);
    font-weight: var(--ag-button-font-weight);
    background-color: var(--ag-button-background-color);
    border: var(--ag-button-border);
    padding: var(--ag-button-vertical-padding) var(--ag-button-horizontal-padding);
    cursor: pointer;

    &:hover {
        color: var(--ag-button-hover-text-color);
        background-color: var(--ag-button-hover-background-color);
        border: var(--ag-button-hover-border);
    }

    &:active {
        color: var(--ag-button-active-text-color);
        background-color: var(--ag-button-active-background-color);
        border: var(--ag-button-active-border);
    }

    &:disabled {
        color: var(--ag-button-disabled-text-color);
        background-color: var(--ag-button-disabled-background-color);
        border: var(--ag-button-disabled-border);
    }
}
