.ag-status-bar {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-top: var(--ag-footer-row-border);
    padding-right: calc(var(--ag-spacing) * 4);
    padding-left: calc(var(--ag-spacing) * 4);
    line-height: 1.5;
}

.ag-status-panel {
    display: inline-flex;
}

.ag-status-name-value {
    white-space: nowrap;
    margin-left: var(--ag-spacing);
    margin-right: var(--ag-spacing);
    padding-top: var(--ag-widget-container-vertical-padding);
    padding-bottom: var(--ag-widget-container-vertical-padding);
    font-weight: var(--ag-status-bar-label-font-weight);
    color: var(--ag-status-bar-label-color);
}

.ag-status-name-value-value {
    font-weight: var(--ag-status-bar-value-font-weight);
    color: var(--ag-status-bar-value-color);
}

.ag-status-bar-left {
    display: inline-flex;
}

.ag-status-bar-center {
    display: inline-flex;
    text-align: center;
}

.ag-status-bar-right {
    display: inline-flex;
}
