:where(.ag-icon)::before {
    content: '';
    background-color: currentcolor;
    display: block;
    width: var(--ag-icon-size);
    height: var(--ag-icon-size);
    mask-size: contain;

    /* Font properties to allow apps to set font-family and content and have an icon font work */
    font-size: var(--ag-icon-size);
    line-height: var(--ag-icon-size);
    color: inherit;
    font-family: inherit;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.ag-icon {
    /* Background properties to allow apps to set a background-image and have it work */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
