@use 'design-system' as *;

.animatedWordsOuter {
    --word-height: 1.3em;
    --word-index: 0;

    position: relative;
    display: inline-flex;
    align-items: flex-end;
    height: var(--word-height);
    margin-left: 0.33ch;
    text-align: left;
    overflow: hidden;
}

.animatedWordsInner {
    display: inline-flex;
    flex-direction: column;
    transform: translateY(calc(var(--word-height) * var(--word-index) * 1.5));
    transition: transform 0.25s cubic-bezier(0.6, 0.3, 0.5, 1.4);

    > span {
        height: calc(var(--word-height) * 1.5);
        padding-top: calc(var(--word-height) * 0.5);
    }
}

.javascript {
    color: #f7df1e; // Yellow
}

.react {
    color: #61dafb; // Light Blue
}

.angular {
    background: linear-gradient(90deg, #e40035, #f60a48 24%, #f20755 35%, #dc087d 49%, #9717e7 74%, #6c00f5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.vue {
    color: #42b883; // Green
}
