@use 'design-system' as *;

.topLine {
    margin-left: 0.66em;
}

.animatedWordsOuter {
    --word-height: 1.3em;
    --word-index: 0;

    position: relative;
    display: inline-block;
    min-width: 7.5ch;
    height: var(--word-height);
    margin-left: 0.33ch;
    text-align: left;
    transform: translateY(0.3333em);
    overflow: hidden;
}

.animatedWordsInner {
    position: absolute;
    display: inline-flex;
    bottom: 0;
    left: 0;
    flex-direction: column;
    transform: translateY(calc(var(--word-height) * var(--word-index) * 1.5));
    transition: transform 0.2s
        linear(
            0,
            0.2,
            0.5,
            0.8,
            1.1,
            1.3,
            1.36,
            1.367,
            1.31,
            1.21,
            1.1,
            1,
            0.93,
            0.88,
            0.87,
            0.88,
            0.91,
            0.95,
            0.99,
            1.02,
            1.04,
            1.046,
            1.044,
            1.035,
            1.02,
            1.01,
            1,
            0.989,
            0.984,
            0.9837,
            0.986,
            0.99,
            0.995,
            1,
            1.003,
            1.005,
            1.0058,
            1.0053,
            1.004,
            1.002,
            1.001,
            0.999,
            0.9984,
            0.998,
            0.998,
            0.9984,
            0.999,
            0.9996,
            1.0001,
            1 100% 100%
        );
}

.animatedWord {
    height: calc(var(--word-height) * 1.5);
    padding-top: calc(var(--word-height) * 0.5);
    min-width: 7.5ch;
}

.javascript {
    color: #f7df1e; // Yellow
}

.react {
    color: #61dafb; // Light Blue
}

.angular {
    background: linear-gradient(90deg, #e40035, #f60a48 24%, #f20755 35%, #dc087d 49%, #9717e7 74%, #6c00f5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.vue {
    color: #42b883; // Green
}
