#wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#top {
    display: flex;
    gap: 10px;
    min-height: 300px;
    max-height: 300px;
}

#columnChart {
    width: 50%;
    height: 100%;
}

#pieChart {
    width: 50%;
    height: 100%;
}

#barChart {
    min-height: 300px;
    max-height: 300px;
}

#myGrid {
    height: 25%;
}
