.container {
    --icon-color: var(--color-enterprise-icon);
    --icon-size: 18px;

    display: flex;
    align-items: center;
    gap: 6px;

    :global(.icon) {
        position: relative;
        top: -2px;
    }
}
