---
import { getEntry } from 'astro:content';
import { ModuleMappings } from './ModuleMappings';
import { getFrameworkFromPath } from '@components/docs/utils/urlPaths';
import styles from './ModuleMappings.module.scss';

const { pathname } = Astro.url;
const framework = getFrameworkFromPath(pathname);

const { data: modules } = await getEntry('module-mappings', 'modules');
---

<div class={styles.container}>
    <ModuleMappings client:only="react" framework={framework} modules={modules} />
</div>
