.installText {
    font-size: var(--text-fs-base);
    color: var(--color-white);
    font-family: monospace; // refactor to use design system class
}

.copyToClipboardIcon {
    --icon-color: var(--color-white);
    opacity: 0.8;

    width: var(--icon-size);
    height: var(--icon-size);
    padding: 6px;
    cursor: pointer;

    &:hover {
        --icon-color: var(--color-white);
        opacity: 1;
    }
}
