.ag-resizer {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    user-select: none;
}

:where(.ag-resizer) {
    /* stylelint-disable-next-line selector-class-pattern */
    &.ag-resizer-topLeft {
        top: 0;
        /* rtl:ignore */
        left: 0;
        height: 5px;
        width: 5px;
        /* rtl:ignore */
        cursor: nwse-resize;
    }

    &.ag-resizer-top {
        top: 0;
        /* rtl:ignore */
        left: 5px;
        right: 5px;
        height: 5px;
        cursor: ns-resize;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    &.ag-resizer-topRight {
        top: 0;
        /* rtl:ignore */
        right: 0;
        height: 5px;
        width: 5px;
        /* rtl:ignore */
        cursor: nesw-resize;
    }

    &.ag-resizer-right {
        top: 5px;
        /* rtl:ignore */
        right: 0;
        bottom: 5px;
        width: 5px;
        cursor: ew-resize;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    &.ag-resizer-bottomRight {
        bottom: 0;
        /* rtl:ignore */
        right: 0;
        height: 5px;
        width: 5px;
        /* rtl:ignore */
        cursor: nwse-resize;
    }

    &.ag-resizer-bottom {
        bottom: 0;
        left: 5px;
        /* rtl:ignore */
        right: 5px;
        height: 5px;
        cursor: ns-resize;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    &.ag-resizer-bottomLeft {
        bottom: 0;
        /* rtl:ignore */
        left: 0;
        height: 5px;
        width: 5px;
        /* rtl:ignore */
        cursor: nesw-resize;
    }

    &.ag-resizer-left {
        /* rtl:ignore */
        left: 0;
        top: 5px;
        bottom: 5px;
        width: 5px;
        cursor: ew-resize;
    }
}
