:where([class^='ag-']) {
    box-sizing: border-box;
    outline: none;

    &:focus,
    &::after,
    &::before,
    &:focus-within {
        box-sizing: border-box;
        outline: none;
    }

    &::-ms-clear {
        display: none;
    }
}
