.ag-header-group-cell.ag-column-first {
    background-color: #2244cc66;
}

.ag-header-cell.ag-column-first {
    background-color: #2244cc44;
}

.ag-floating-filter.ag-column-first {
    background-color: #2244cc22;
}

.ag-header-group-cell.ag-column-last {
    background-color: #33cc3366;
}

.ag-header-cell.ag-column-last {
    background-color: #33cc3344;
}

.ag-floating-filter.ag-column-last {
    background-color: #33cc3322;
}
